.flex-container{
    display:flex;
    flex-flow: row wrap;
    background-color: blanchedalmond;
    align-items: center;
    justify-content: space-between;
}

.flex-container > div{
    background-color: aquamarine;
    width: 50px;
    margin: 10px;
    border-style:ridge;
    text-align: center;
    
}

body{
    background-color:black;
    align-items:center;
}

